<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in to your student account</title>
</head>

<body>
    <h1 style="text-align:center;">RPI Room Reservation System</h1>
    <p style="text-align:center;">Sign in to your account below</p>

    <div class = "container">
        <form action="/action.php" method = "post">
            RCS ID:<br>
            <input type = "text" name = "rcs"><br>
            Password:<br>
            <input type = "password" name = "password"><br><br>
            <button type = "submit">Login</button>
        </form>
    </div>

    <address style="text-align:right;font-size:70%;font-style:normal;">
        A current RCOS project.<br>
        Contact us by emailing:<br>
        siddik2@rpi.edu<br>
    </address>
</body>
</html>