{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <style>
        input[type=text], input[type=password] {
            width: 20%;
            padding: 6px 20px;
            margin: 4px;
            display: inline-block;
            border: 3px solid crimson;
            outline: none;
            box-sizing: border-box;
            border-radius: 4px;
            transition: .4s;
            opacity: 0.6;
        }

        input[type=text]:focus, input[type=password]:focus {
            border: 3px solid crimson;
            opacity: 1;
        }

        button {
            background-color: crimson;
            color: white;
            padding: 7px;
            border: solid crimson;
            cursor: pointer;
            width: 7%;
            border-radius: 4px;
            transition-duration: 0.4s;
            opacity: 0.6;
        }

        button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            opacity: 1;
        }
    </style>

    <form method="post" action = "{% url 'home' %}" style = "border: 1px solid #ccc; padding: 5px;" >
        <div class = "container">
            {% csrf_token %}
            <h1>Sign up</h1>
            <p>Please fill in this form to create an account.</p>

            Last Name:
            <input type="text" name="last-name" > <br>

            First Name:
            <input type="text" name="first-name" > <br>

            RIN:
            <input type="text" name="RIN" > <br>

            RPI Email:
            <input type="text" name="email" > <br>

            Password:
            <input type="password" name="psw" id = "myInput">
            <input type="checkbox" onclick="myFunction()">Show Password <br>

            Repeat Password:
            <input type="password" name="psw-repeat" > <br>

            Phone Number:
            <input type="text" name="phone"> <br>

            Fax Number:
            <input type="text" name="fax"> <br><br>

            <div class="clearfix">
              <button type="button" class="cancel">Cancel</button>
              <button type="submit" class="signup">Sign Up</button>
            </div>

        </div>
    </form>

    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

{% endblock %}